In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practice').getOrCreate()

spark

23/05/05 10:51:24 WARN Utils: Your hostname, sf-cpu-459 resolves to a loopback address: 127.0.1.1; using 192.168.6.70 instead (on interface eno1)
23/05/05 10:51:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/05 10:51:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/05 10:51:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.read.csv('shoppingmall.csv', header=True)

In [3]:
df.show()

+---+------+----+------+-----+
| ID|Gender| Age|Income|Score|
+---+------+----+------+-----+
|  1|  Male|  19|    15|   39|
|  2|  Male|  21|    15|   81|
|  3|Female|  20|    16|    6|
|  4|Female|  23|    16|   77|
|  5|Female|  31|    17|   40|
|  6|Female|null|    17|   76|
|  7|Female|  35|    18|    6|
|  8|  null|  23|  null| null|
|  9|  Male|  64|    19|    3|
| 10|Female|  30|    19|   72|
| 11|  Male|  67|    19|   14|
| 12|Female|  35|    19|   99|
| 13|  null|null|    20|   15|
| 14|Female|  24|    20|   77|
| 15|  Male|  37|    20|   13|
| 16|  Male|  22|    20|   79|
| 17|Female|  35|    21|   35|
| 18|  null|null|  null| null|
| 19|  Male|  52|    23|   29|
| 20|Female|  35|    23|   98|
+---+------+----+------+-----+
only showing top 20 rows

In [8]:
df.filter('Age <= 25').show()

df.filter(df['Age'] <= 25).show()

+---+------+---+------+-----+
| ID|Gender|Age|Income|Score|
+---+------+---+------+-----+
|  1|  Male| 19|    15|   39|
|  2|  Male| 21|    15|   81|
|  3|Female| 20|    16|    6|
|  4|Female| 23|    16|   77|
|  8|  null| 23|  null| null|
| 14|Female| 24|    20|   77|
| 16|  Male| 22|    20|   79|
| 22|  null| 25|    24|   73|
| 32|Female| 21|    30|   73|
| 34|  Male| 18|    33|   92|
| 36|Female| 21|    33|   81|
| 40|Female| 20|    37|   75|
| 42|  Male| 24|    38|   92|
| 46|Female| 24|    39|   65|
| 62|  Male| 19|    46|   55|
| 66|  Male| 18|    48|   59|
| 69|  Male| 19|    48|   59|
| 79|Female| 23|    54|   52|
| 85|Female| 21|    54|   57|
| 88|Female| 22|    57|   55|
+---+------+---+------+-----+
only showing top 20 rows

+---+------+---+------+-----+
| ID|Gender|Age|Income|Score|
+---+------+---+------+-----+
|  1|  Male| 19|    15|   39|
|  2|  Male| 21|    15|   81|
|  3|Female| 20|    16|    6|
|  4|Female| 23|    16|   77|
|  8|  null| 23|  null| null|
| 14|Female| 24|    20|   77|
| 16|  Male| 22|    20|   79|
| 22|  null| 25|    24|   73|
| 32|Female| 21|    30|   73|
| 34|  Male| 18|    33|   92|
| 36|Female| 21|    33|   81|
| 40|Female| 20|    37|   75|
| 42|  Male| 24|    38|   92|
| 46|Female| 24|    39|   65|
| 62|  Male| 19|    46|   55|
| 66|  Male| 18|    48|   59|
| 69|  Male| 19|    48|   59|
| 79|Female| 23|    54|   52|
| 85|Female| 21|    54|   57|
| 88|Female| 22|    57|   55|
+---+------+---+------+-----+
only showing top 20 rows

In [9]:
df.filter('Age <= 25').select(['ID', 'Gender']).show()

df.filter(df['Age'] <= 25).select(['ID', 'Gender']).show()

+---+------+
| ID|Gender|
+---+------+
|  1|  Male|
|  2|  Male|
|  3|Female|
|  4|Female|
|  8|  null|
| 14|Female|
| 16|  Male|
| 22|  null|
| 32|Female|
| 34|  Male|
| 36|Female|
| 40|Female|
| 42|  Male|
| 46|Female|
| 62|  Male|
| 66|  Male|
| 69|  Male|
| 79|Female|
| 85|Female|
| 88|Female|
+---+------+
only showing top 20 rows

+---+------+
| ID|Gender|
+---+------+
|  1|  Male|
|  2|  Male|
|  3|Female|
|  4|Female|
|  8|  null|
| 14|Female|
| 16|  Male|
| 22|  null|
| 32|Female|
| 34|  Male|
| 36|Female|
| 40|Female|
| 42|  Male|
| 46|Female|
| 62|  Male|
| 66|  Male|
| 69|  Male|
| 79|Female|
| 85|Female|
| 88|Female|
+---+------+
only showing top 20 rows

In [12]:
df.filter((df['Age'] <= 25) & (df['Age'] >= 15) ).select(['ID', 'Age', 'Gender']).show()

+---+---+------+
| ID|Age|Gender|
+---+---+------+
|  1| 19|  Male|
|  2| 21|  Male|
|  3| 20|Female|
|  4| 23|Female|
|  8| 23|  null|
| 14| 24|Female|
| 16| 22|  Male|
| 22| 25|  null|
| 32| 21|Female|
| 34| 18|  Male|
| 36| 21|Female|
| 40| 20|Female|
| 42| 24|  Male|
| 46| 24|Female|
| 62| 19|  Male|
| 66| 18|  Male|
| 69| 19|  Male|
| 79| 23|Female|
| 85| 21|Female|
| 88| 22|Female|
+---+---+------+
only showing top 20 rows

In [15]:
# Not equals to

df.filter(~(df['Age'] <= 25)).select(['ID', 'Age', 'Gender']).show()

+---+---+------+
| ID|Age|Gender|
+---+---+------+
|  5| 31|Female|
|  7| 35|Female|
|  9| 64|  Male|
| 10| 30|Female|
| 11| 67|  Male|
| 12| 35|Female|
| 15| 37|  Male|
| 17| 35|Female|
| 19| 52|  Male|
| 20| 35|Female|
| 21| 35|  Male|
| 24| 31|  Male|
| 25| 54|Female|
| 26| 29|  Male|
| 27| 45|Female|
| 29| 40|  null|
| 31| 60|  Male|
| 33| 53|  Male|
| 35| 49|Female|
| 37| 42|Female|
+---+---+------+
only showing top 20 rows