In [24]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practice').getOrCreate()

spark

In [25]:
# df = spark.read.csv('shoppingmall.csv')

df = spark.read.csv('shoppingmall.csv', header=True)

# df = spark.read.option('header', 'True').csv('shoppingmall.csv')

In [45]:
df.show()

+---+------+----+------+-----+
| ID|Gender| Age|Income|Score|
+---+------+----+------+-----+
|  1|  Male|  19|    15|   39|
|  2|  Male|  21|    15|   81|
|  3|Female|  20|    16|    6|
|  4|Female|  23|    16|   77|
|  5|Female|  31|    17|   40|
|  6|Female|null|    17|   76|
|  7|Female|  35|    18|    6|
|  8|  null|  23|  null| null|
|  9|  Male|  64|    19|    3|
| 10|Female|  30|    19|   72|
| 11|  Male|  67|    19|   14|
| 12|Female|  35|    19|   99|
| 13|  null|null|    20|   15|
| 14|Female|  24|    20|   77|
| 15|  Male|  37|    20|   13|
| 16|  Male|  22|    20|   79|
| 17|Female|  35|    21|   35|
| 18|  null|null|  null| null|
| 19|  Male|  52|    23|   29|
| 20|Female|  35|    23|   98|
+---+------+----+------+-----+
only showing top 20 rows

In [27]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Score: string (nullable = true)

In [28]:
df.columns

['ID', 'Gender', 'Age', 'Income', 'Score']

In [29]:
df.head(5)

[Row(ID='1', Gender='Male', Age='19', Income='15', Score='39'),
 Row(ID='2', Gender='Male', Age='21', Income='15', Score='81'),
 Row(ID='3', Gender='Female', Age='20', Income='16', Score='6'),
 Row(ID='4', Gender='Female', Age='23', Income='16', Score='77'),
 Row(ID='5', Gender='Female', Age='31', Income='17', Score='40')]

In [30]:
df.select('Score')

DataFrame[Score: string]

In [31]:
df.select(['ID', 'Age']).show()

+---+----+
| ID| Age|
+---+----+
|  1|  19|
|  2|  21|
|  3|  20|
|  4|  23|
|  5|  31|
|  6|null|
|  7|  35|
|  8|  23|
|  9|  64|
| 10|  30|
| 11|  67|
| 12|  35|
| 13|null|
| 14|  24|
| 15|  37|
| 16|  22|
| 17|  35|
| 18|null|
| 19|  52|
| 20|  35|
+---+----+
only showing top 20 rows

In [32]:
df['Age']

Column<'Age'>

In [33]:
df.dtypes

[('ID', 'string'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Income', 'string'),
 ('Score', 'string')]

In [34]:
df.describe()

DataFrame[summary: string, ID: string, Gender: string, Age: string, Income: string, Score: string]

In [35]:
df.describe().show()

+-------+------------------+------+-----------------+------------------+------------------+
|summary|                ID|Gender|              Age|            Income|             Score|
+-------+------------------+------+-----------------+------------------+------------------+
|  count|               200|   195|              194|               195|               196|
|   mean|             100.5|  null|             39.0| 61.49230769230769|49.545918367346935|
| stddev|57.879184513951124|  null|13.93991547762454|25.927211599941412| 25.62916875255903|
|    min|                 1|Female|               18|               101|                 1|
|    max|                99|  Male|               70|                99|                99|
+-------+------------------+------+-----------------+------------------+------------------+

In [36]:
# df.withColumn('Age after 2 years', df['age']+2).show()

df = df.withColumn('Age after 2 years', df['age']+2)

In [37]:
df.show()

+---+------+----+------+-----+-----------------+
| ID|Gender| Age|Income|Score|Age after 2 years|
+---+------+----+------+-----+-----------------+
|  1|  Male|  19|    15|   39|             21.0|
|  2|  Male|  21|    15|   81|             23.0|
|  3|Female|  20|    16|    6|             22.0|
|  4|Female|  23|    16|   77|             25.0|
|  5|Female|  31|    17|   40|             33.0|
|  6|Female|null|    17|   76|             null|
|  7|Female|  35|    18|    6|             37.0|
|  8|  null|  23|  null| null|             25.0|
|  9|  Male|  64|    19|    3|             66.0|
| 10|Female|  30|    19|   72|             32.0|
| 11|  Male|  67|    19|   14|             69.0|
| 12|Female|  35|    19|   99|             37.0|
| 13|  null|null|    20|   15|             null|
| 14|Female|  24|    20|   77|             26.0|
| 15|  Male|  37|    20|   13|             39.0|
| 16|  Male|  22|    20|   79|             24.0|
| 17|Female|  35|    21|   35|             37.0|
| 18|  null|null|  null| null|             null|
| 19|  Male|  52|    23|   29|             54.0|
| 20|Female|  35|    23|   98|             37.0|
+---+------+----+------+-----+-----------------+
only showing top 20 rows

In [38]:
df = df.drop('Age after 2 years')

In [39]:
df.show()

+---+------+----+------+-----+
| ID|Gender| Age|Income|Score|
+---+------+----+------+-----+
|  1|  Male|  19|    15|   39|
|  2|  Male|  21|    15|   81|
|  3|Female|  20|    16|    6|
|  4|Female|  23|    16|   77|
|  5|Female|  31|    17|   40|
|  6|Female|null|    17|   76|
|  7|Female|  35|    18|    6|
|  8|  null|  23|  null| null|
|  9|  Male|  64|    19|    3|
| 10|Female|  30|    19|   72|
| 11|  Male|  67|    19|   14|
| 12|Female|  35|    19|   99|
| 13|  null|null|    20|   15|
| 14|Female|  24|    20|   77|
| 15|  Male|  37|    20|   13|
| 16|  Male|  22|    20|   79|
| 17|Female|  35|    21|   35|
| 18|  null|null|  null| null|
| 19|  Male|  52|    23|   29|
| 20|Female|  35|    23|   98|
+---+------+----+------+-----+
only showing top 20 rows

In [40]:
df.withColumnRenamed('Age', 'Age_').show()

+---+------+----+------+-----+
| ID|Gender|Age_|Income|Score|
+---+------+----+------+-----+
|  1|  Male|  19|    15|   39|
|  2|  Male|  21|    15|   81|
|  3|Female|  20|    16|    6|
|  4|Female|  23|    16|   77|
|  5|Female|  31|    17|   40|
|  6|Female|null|    17|   76|
|  7|Female|  35|    18|    6|
|  8|  null|  23|  null| null|
|  9|  Male|  64|    19|    3|
| 10|Female|  30|    19|   72|
| 11|  Male|  67|    19|   14|
| 12|Female|  35|    19|   99|
| 13|  null|null|    20|   15|
| 14|Female|  24|    20|   77|
| 15|  Male|  37|    20|   13|
| 16|  Male|  22|    20|   79|
| 17|Female|  35|    21|   35|
| 18|  null|null|  null| null|
| 19|  Male|  52|    23|   29|
| 20|Female|  35|    23|   98|
+---+------+----+------+-----+
only showing top 20 rows

In [41]:
# Remove rows that have null value

df.na.drop().show()

+---+------+---+------+-----+
| ID|Gender|Age|Income|Score|
+---+------+---+------+-----+
|  1|  Male| 19|    15|   39|
|  2|  Male| 21|    15|   81|
|  3|Female| 20|    16|    6|
|  4|Female| 23|    16|   77|
|  5|Female| 31|    17|   40|
|  7|Female| 35|    18|    6|
|  9|  Male| 64|    19|    3|
| 10|Female| 30|    19|   72|
| 11|  Male| 67|    19|   14|
| 12|Female| 35|    19|   99|
| 14|Female| 24|    20|   77|
| 15|  Male| 37|    20|   13|
| 16|  Male| 22|    20|   79|
| 17|Female| 35|    21|   35|
| 19|  Male| 52|    23|   29|
| 20|Female| 35|    23|   98|
| 21|  Male| 35|    24|   35|
| 25|Female| 54|    28|   14|
| 31|  Male| 60|    30|    4|
| 32|Female| 21|    30|   73|
+---+------+---+------+-----+
only showing top 20 rows

In [42]:
df.select('Age').na.drop().show()

+---+
|Age|
+---+
| 19|
| 21|
| 20|
| 23|
| 31|
| 35|
| 23|
| 64|
| 30|
| 67|
| 35|
| 24|
| 37|
| 22|
| 35|
| 52|
| 35|
| 35|
| 25|
| 31|
+---+
only showing top 20 rows

In [43]:
# Drop rows if it containes null vale
df.na.drop().show()

+---+------+---+------+-----+
| ID|Gender|Age|Income|Score|
+---+------+---+------+-----+
|  1|  Male| 19|    15|   39|
|  2|  Male| 21|    15|   81|
|  3|Female| 20|    16|    6|
|  4|Female| 23|    16|   77|
|  5|Female| 31|    17|   40|
|  7|Female| 35|    18|    6|
|  9|  Male| 64|    19|    3|
| 10|Female| 30|    19|   72|
| 11|  Male| 67|    19|   14|
| 12|Female| 35|    19|   99|
| 14|Female| 24|    20|   77|
| 15|  Male| 37|    20|   13|
| 16|  Male| 22|    20|   79|
| 17|Female| 35|    21|   35|
| 19|  Male| 52|    23|   29|
| 20|Female| 35|    23|   98|
| 21|  Male| 35|    24|   35|
| 25|Female| 54|    28|   14|
| 31|  Male| 60|    30|    4|
| 32|Female| 21|    30|   73|
+---+------+---+------+-----+
only showing top 20 rows

In [47]:
# Drop row if it contains all null values
df.na.drop(how='all').show()

+---+------+----+------+-----+
| ID|Gender| Age|Income|Score|
+---+------+----+------+-----+
|  1|  Male|  19|    15|   39|
|  2|  Male|  21|    15|   81|
|  3|Female|  20|    16|    6|
|  4|Female|  23|    16|   77|
|  5|Female|  31|    17|   40|
|  6|Female|null|    17|   76|
|  7|Female|  35|    18|    6|
|  8|  null|  23|  null| null|
|  9|  Male|  64|    19|    3|
| 10|Female|  30|    19|   72|
| 11|  Male|  67|    19|   14|
| 12|Female|  35|    19|   99|
| 13|  null|null|    20|   15|
| 14|Female|  24|    20|   77|
| 15|  Male|  37|    20|   13|
| 16|  Male|  22|    20|   79|
| 17|Female|  35|    21|   35|
| 18|  null|null|  null| null|
| 19|  Male|  52|    23|   29|
| 20|Female|  35|    23|   98|
+---+------+----+------+-----+
only showing top 20 rows

In [51]:
# Atleast two non null value should be there if not then row will be deleted
df.na.drop(thresh = 1).show()

+---+------+----+------+-----+
| ID|Gender| Age|Income|Score|
+---+------+----+------+-----+
|  1|  Male|  19|    15|   39|
|  2|  Male|  21|    15|   81|
|  3|Female|  20|    16|    6|
|  4|Female|  23|    16|   77|
|  5|Female|  31|    17|   40|
|  6|Female|null|    17|   76|
|  7|Female|  35|    18|    6|
|  8|  null|  23|  null| null|
|  9|  Male|  64|    19|    3|
| 10|Female|  30|    19|   72|
| 11|  Male|  67|    19|   14|
| 12|Female|  35|    19|   99|
| 13|  null|null|    20|   15|
| 14|Female|  24|    20|   77|
| 15|  Male|  37|    20|   13|
| 16|  Male|  22|    20|   79|
| 17|Female|  35|    21|   35|
| 18|  null|null|  null| null|
| 19|  Male|  52|    23|   29|
| 20|Female|  35|    23|   98|
+---+------+----+------+-----+
only showing top 20 rows

In [23]:
# delete only if column exists in subset and have null value
df.na.drop(how = 'any', subset = ['Age']).show()

+---+------+---+------+-----+
| ID|Gender|Age|Income|Score|
+---+------+---+------+-----+
|  1|  Male| 19|    15|   39|
|  2|  Male| 21|    15|   81|
|  3|Female| 20|    16|    6|
|  4|Female| 23|    16|   77|
|  5|Female| 31|    17|   40|
|  6|Female| 22|    17|   76|
|  7|Female| 35|    18|    6|
|  8|Female| 23|    18|   94|
|  9|  Male| 64|    19|    3|
| 10|Female| 30|    19|   72|
| 11|  Male| 67|    19|   14|
| 12|Female| 35|    19|   99|
| 13|Female| 58|    20|   15|
| 14|Female| 24|    20|   77|
| 15|  Male| 37|    20|   13|
| 16|  Male| 22|    20|   79|
| 17|Female| 35|    21|   35|
| 18|  Male| 20|    21|   66|
| 19|  Male| 52|    23|   29|
| 20|Female| 35|    23|   98|
+---+------+---+------+-----+
only showing top 20 rows

In [53]:
df.na.fill('Missing Values', ['Gender']).show()

+---+--------------+----+------+-----+
| ID|        Gender| Age|Income|Score|
+---+--------------+----+------+-----+
|  1|          Male|  19|    15|   39|
|  2|          Male|  21|    15|   81|
|  3|        Female|  20|    16|    6|
|  4|        Female|  23|    16|   77|
|  5|        Female|  31|    17|   40|
|  6|        Female|null|    17|   76|
|  7|        Female|  35|    18|    6|
|  8|Missing Values|  23|  null| null|
|  9|          Male|  64|    19|    3|
| 10|        Female|  30|    19|   72|
| 11|          Male|  67|    19|   14|
| 12|        Female|  35|    19|   99|
| 13|Missing Values|null|    20|   15|
| 14|        Female|  24|    20|   77|
| 15|          Male|  37|    20|   13|
| 16|          Male|  22|    20|   79|
| 17|        Female|  35|    21|   35|
| 18|Missing Values|null|  null| null|
| 19|          Male|  52|    23|   29|
| 20|        Female|  35|    23|   98|
+---+--------------+----+------+-----+
only showing top 20 rows

# Convert String to Int

In [64]:
from pyspark.sql.types import IntegerType

df = df.withColumn("Age", df["Age"].cast(IntegerType()))
df = df.withColumn("Income", df["Income"].cast(IntegerType()))

# Fill null values with mean

In [65]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Income'],
    outputCols = ['Age_', 'Income_'],
    strategy = 'mean'
)

model = imputer.fit(df)
model.transform(df).show()

+---+------+----+------+-----+----+-------+
| ID|Gender| Age|Income|Score|Age_|Income_|
+---+------+----+------+-----+----+-------+
|  1|  Male|  19|    15|   39|  19|     15|
|  2|  Male|  21|    15|   81|  21|     15|
|  3|Female|  20|    16|    6|  20|     16|
|  4|Female|  23|    16|   77|  23|     16|
|  5|Female|  31|    17|   40|  31|     17|
|  6|Female|null|    17|   76|  39|     17|
|  7|Female|  35|    18|    6|  35|     18|
|  8|  null|  23|  null| null|  23|     61|
|  9|  Male|  64|    19|    3|  64|     19|
| 10|Female|  30|    19|   72|  30|     19|
| 11|  Male|  67|    19|   14|  67|     19|
| 12|Female|  35|    19|   99|  35|     19|
| 13|  null|null|    20|   15|  39|     20|
| 14|Female|  24|    20|   77|  24|     20|
| 15|  Male|  37|    20|   13|  37|     20|
| 16|  Male|  22|    20|   79|  22|     20|
| 17|Female|  35|    21|   35|  35|     21|
| 18|  null|null|  null| null|  39|     61|
| 19|  Male|  52|    23|   29|  52|     23|
| 20|Female|  35|    23|   98|  35|     23|
+---+------+----+------+-----+----+-------+
only showing top 20 rows