In [1]:
import pandas as pd
import re
import numpy as np

pd.set_option('display.max_rows', 20)

In [2]:
df = pd.read_csv('monster_com-job_sample.csv')

In [3]:
df

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,United States of America,US,NaN,No,jobs.monster.com,This is a major premier Cincinnati based finan...,Assistant Vice President - Controller Job in C...,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Assistant-Vice-Pres...,"120,000.00 - 160,000.00 $ /yearbonus",NaN,a80bc8cc3a90c17eef418963803bc640
21996,United States of America,US,NaN,No,jobs.monster.com,Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,http://jobview.monster.com/Accountant-Job-Cinc...,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff),419a3714be2b30a10f628de207d041de
21997,United States of America,US,NaN,No,jobs.monster.com,RE: Adobe AEM- Client - Loca...,AEM/CQ developer Job in Chicago,Full Time,"Chicago, IL 60602",NaN,http://jobview.monster.com/AEM-CQ5-developer-J...,NaN,NaN,5a590350b73b2cec46b05750a208e345
21998,United States of America,US,NaN,No,jobs.monster.com,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",http://jobview.monster.com/Electrician-Experie...,25.00 - 28.00 $ /hour,Installation/Maintenance/Repair,40161cf61c283af9dc2b0a62947a5f1b
21999,United States of America,US,NaN,No,jobs.monster.com,Contract AdministratorCan you be the point per...,Contract Administrator Job in Cincinnati,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Contract-Administra...,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager),cb49f16ad72627b109e434e0cac97f7a

In [4]:
# Shape of data
df.shape

(22000, 14)

# Country

In [5]:
df['country'].value_counts()

United States of America    22000
Name: country, dtype: int64

# Country_code

In [6]:
df['country_code'].value_counts()

US    22000
Name: country_code, dtype: int64

# has_expired

In [7]:
df['has_expired'].value_counts()

No    22000
Name: has_expired, dtype: int64

# job_board

In [8]:
df['job_board'].value_counts()

jobs.monster.com    22000
Name: job_board, dtype: int64

# date_added

In [9]:
df['date_added'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 22000 entries, 0 to 21999
Series name: date_added
Non-Null Count  Dtype
--------------  -----
122 non-null    object
dtypes: object(1)
memory usage: 172.0+ KB

# Dropping unnecessary column

In [10]:
df.drop(['country', 'country_code', 'has_expired', 'job_board', 'date_added', 'uniq_id'], axis=1, inplace=True)

In [11]:
df.head()

,job_description,job_title,job_type,location,organization,page_url,salary,sector
0,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development
1,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN
2,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN
3,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager)
4,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management

# job_type

In [12]:
df1 = df['job_type'].value_counts().to_frame().reset_index()
df1

                                     index  job_type
0                                Full Time      6757
1                       Full Time Employee      6617
2                      Full Time, Employee      3360
3     Full Time Temporary/Contract/Project      1062
4    Full Time, Temporary/Contract/Project       533
..                                     ...       ...
34  Full Time / Temporary/Contract/Project         1
35                       Part Time, Intern         1
36  Part Time , Temporary/Contract/Project         1
37                                  Exempt         1
38                       Job Type Employee         1

[39 rows x 2 columns]

# Devide job_type column in two part
    job_type_1 (full time, part_time)
    job_type_2 (Employee, Temporary/Contract/Project, intern)

In [13]:
job_type_1 = df1['index'].apply(lambda x : re.findall(r'\w{3,4}\s\w{4}', x))

job_type_1 = job_type_1.apply(lambda x: x[1] if len(x) == 2 else x)

df['job_type_1'] = job_type_1.apply(lambda x: ' '.join(x)).apply(lambda x: x.replace(' ', ''))

df['job_type_1']

0        FullTime
1        FullTime
2        FullTime
3        FullTime
4        FullTime
           ...
21995         NaN
21996         NaN
21997         NaN
21998         NaN
21999         NaN
Name: job_type_1, Length: 22000, dtype: object

In [14]:
job_type_2 = df1['index'].apply(lambda x: x.split()[-1] if x.split()[-1] not in ('Time', 'Diem') else np.nan)

df['job_type_2'] = job_type_2

df['job_type_2']

0                               NaN
1                          Employee
2                          Employee
3        Temporary/Contract/Project
4        Temporary/Contract/Project
                    ...
21995                           NaN
21996                           NaN
21997                           NaN
21998                           NaN
21999                           NaN
Name: job_type_2, Length: 22000, dtype: object

In [15]:
df.drop('job_type', axis=1, inplace=True)

In [16]:
df.head()

,job_description,job_title,location,organization,page_url,salary,sector,job_type_1,job_type_2
0,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,FullTime,NaN
1,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,FullTime,Employee
2,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,FullTime,Employee
3,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),FullTime,Temporary/Contract/Project
4,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,FullTime,Temporary/Contract/Project

# location

In [17]:
df.location

0                                        Madison, WI 53702
1                                        Madison, WI 53708
2        DePuy Synthes Companies is a member of Johnson...
3                                                Dixon, CA
4                                             Camphill, PA
                               ...
21995                                       Cincinnati, OH
21996                                 Cincinnati, OH 45236
21997                                    Chicago, IL 60602
21998                                    Chicago, IL 60609
21999                                       Cincinnati, OH
Name: location, Length: 22000, dtype: object

In [18]:
df['loc_'] = df.page_url.str.extract(r'-(?i)job-(.*?)(?i)-us-\d')

df['location_extract'] = df.loc_.str[:-3] + ', ' + df['loc_'].str[-2:]

df['location_extract'].sample(10)

15643                    hollywood, fl
7529                     Las-Vegas, NV
1496                    shady-dale, ga
8566                     highlands, co
2242                   parkersburg, wv
13414    Raleigh-NC-or-Columbia-SC, NC
10326                     Newville, PA
14112                  Minneapolis, MN
7907                       Madison, WI
726                               , ar
Name: location_extract, dtype: object

In [19]:
df.drop(['location', 'loc_'], axis=1, inplace=True)

# organization

In [20]:
df['organization'].unique()

array([nan, 'Printing and Publishing', 'Personal and Household Services',
       'Altec Industries', 'Retail', 'Computer/IT Services',
       'Computer Software',
       'Hotels and Lodging Personal and Household Services', 'Insurance',
       'Business Services - Other', 'Education',
       'Construction - Industrial Facilities and InfrastructureConstruction - Residential & Commercial/Office',
       'Accounting and Auditing Services', 'Legal Services',
       'Construction - Residential & Commercial/Office',
       'Engineering Services', 'AllComputer SoftwareComputer/IT Services',
       'Healthcare Services', 'Chicago, IL', 'Manufacturing - Other',
       'Oklahoma City, OK', 'Aerospace and Defense', 'San Francisco, CA',
       'Advertising and PR ServicesManagement Consulting ServicesBusiness Services - Other',
       'Other/Not Classified',
       'RetailAdvertising and PR ServicesBusiness Services - Other',
       'All', 'Electronics, Components, and Semiconductor Mfg',
       'Restaurant/Food Services', 'Metals and Minerals',
       'Real Estate/Property Management',
       'Walter Industrial and Sanitary Supply', 'Durham, NC',
       'Nonprofit Charitable Organizations',
       'Transport and Storage - Materials',
       'Biotechnology/Pharmaceuticals',
       'Construction - Industrial Facilities and Infrastructure',
       'Banking', 'Travel, Transportation and Tourism',
       'Marine Mfg & Services',
       'Rental ServicesBusiness Services - OtherOther/Not Classified',
       'Energy and Utilities', 'Computer SoftwareComputer/IT Services',
       'AllComputer HardwareComputer Software', 'Financial Services',
       'CNH Industrial', 'Houston, TX',
       'Computer Software, Computer/IT Services', 'Internet Services',
       'Wholesale Trade/Import-Export', 'Waste Management',
       'Automotive and Parts Mfg', 'InsuranceFinancial Services',
       'AllRetailBusiness Services - Other',
       'Advertising and PR Services', 'Government and Military',
       'Aerospace and DefenseGovernment and Military',
       'Architectural and Design Services', 'Chicago, IL 60661',
       'Industrial/Manufacturing Engineering',
       'Computer Hardware Computer Software Computer/IT Services',
       'Aerospace and DefenseManufacturing - Other',
       'Retail;Management Consulting Services;Business Services - Other',
       'Energy and Utilities Manufacturing - Other Business Services - Other',
       'Security and Surveillance',
       'Aerospace and Defense;Government and Military;Security and Surveillance',
       'RetailRestaurant/Food ServicesOther/Not Classified',
       'Staffing/Employment Agencies', 'Hotels and Lodging',
       'Retail;Advertising and PR Services;Business Services - Other',
       'Retail;Telecommunications Services;Advertising and PR Services',
       'Advertising and PR Services;Staffing/Employment Agencies;Business Services - Other',
       'Restaurant/Food Services Food and Beverage Production',
       'Biotechnology/PharmaceuticalsHealthcare Services',
       'RetailManagement Consulting ServicesOther/Not Classified',
       'Automotive Sales and Repair Services',
       'Retail Management Consulting Services Business Services - Other',
       'Healthcare Services Restaurant/Food Services Food and Beverage Production',
       'Hotels and Lodging Government and Military Food and Beverage Production',
       'Food and Beverage Production',
       'InsuranceAccounting and Auditing ServicesFinancial Services',
       'Princeton, NJ 08543',
       'Management Consulting ServicesComputer SoftwareEngineering Services',
       'RetailTransport and Storage - Materials Other/Not Classified',
       'Energy and UtilitiesManufacturing - OtherOther/Not Classified',
       'Dallas, TX', 'Management Consulting Services',
       'Telecommunications Services',
       'Advertising and PR Services Business Services - Other',
       'Belfast, ME 04915', 'Healthcare Services Other/Not Classified',
       'Travel, Transportation and TourismTransport and Storage - Materials',
       'Computer Hardware',
       'Internet ServicesTelecommunications ServicesBusiness Services - Other',
       'Plano, TX', 'InsuranceSecurity and Surveillance',
       'Legal ServicesBusiness Services - Other',
       'Advertising and PR ServicesBusiness Services - Other',
       'Bisco Industries', 'Entertainment Venues and Theaters',
       'AllFinancial ServicesOther/Not Classified',
       'Biotechnology/PharmaceuticalsHealthcare ServicesMedical Devices and Supplies',
       'Coppell, TX', 'Medical Devices and Supplies',
       'RetailComputer/IT Services', 'Denver, CO',
       'Energy and UtilitiesBusiness Services - Other',
       'Richardson, TX 75082',
       'Computer HardwareComputer SoftwareComputer/IT Services',
       'Washington, DC 20001', 'Prairie Village, KS', 'Savannah, GA',
       'Hoffman Estates, IL',
       'Biotechnology/PharmaceuticalsBusiness Services - OtherMedical Devices and Supplies',
       'El Dorado Hills, CA', 'Sacramento, CA', 'Cincinnati, OH',
       'Charlotte, NC', 'Hillsboro, OR 97124',
       'San Francisco Ca, CA 94107', 'San Jose, CA 95134',
       'Biotechnology/PharmaceuticalsManufacturing - OtherMedical Devices and Supplies',
       'RetailManagement Consulting ServicesBusiness Services - Other',
       'Advertising and PR Services Management Consulting Services Business Services - Other',
       'Chemicals/Petro-Chemicals', 'Atlanta/East Point, GA',
       'Telecommunications Services Advertising and PR Services Business Services - Other',
       'Internet ServicesManagement Consulting ServicesBusiness Services - Other',
       'BankingFinancial Services',
       'RetailAdvertising and PR ServicesOther/Not Classified',
       'Biotechnology/PharmaceuticalsManufacturing - OtherOther/Not Classified',
       'Jersey City, NJ', 'Consumer Packaged Goods Manufacturing',
       'Gurnee, IL',
       'Aerospace and Defense; Computer/IT Services; Engineering Services',
       'Computer Software; Computer/IT Services; Engineering Services',
       'Automotive and Parts MfgManufacturing - Other',
       'Automotive and Parts Mfg; Manufacturing - Other',
       'Largo, FL 33773',
       'Biotechnology/Pharmaceuticals; Engineering Services',
       'Round Lake, IL 60073', 'Lake Zurich, IL 60047',
       'Consumer Packaged Goods ManufacturingFood and Beverage Production',
       'Travel, Transportation and TourismHotels and LodgingFood and Beverage Production',
       'All; Manufacturing - Other', 'Milpitas, CA 95035',
       'Metals and Minerals; Biotechnology/Pharmaceuticals; Chemicals/Petro-Chemicals',
       'Warren, IL',
       'Automotive and Parts MfgElectronics, Components, and Semiconductor MfgManufacturing - Other',
       'New York, NY 10012',
       'Travel, Transportation and Tourism; Government and Military',
       'Chemicals/Petro-ChemicalsTransport and Storage - Materials',
       'Accounting and Auditing ServicesComputer/IT ServicesFinancial Services',
       'Des Plaines, IL', 'Beaverton, OR',
       'RetailFood and Beverage Production', 'Milpitas, CA 95134',
       'Account Manager, Regional Manager, Manager, Marketing Manager, Sales, Management, Marketing',
       'Sandy Springs, GA 30342', 'RetailAdvertising and PR Services',
       'RetailTelecommunications ServicesAdvertising and PR Services',
       'Advertising and PR ServicesBusiness Services - OtherOther/Not Classified',
       'Electronics, Components, and Semiconductor MfgManagement Consulting ServicesOther/Not Classified',
       'Retail Advertising and PR Services Business Services - Other',
       'Atlanta, GA', 'Broadcasting, Music, and Film',
       'Healthcare ServicesMedical Devices and Supplies',
       'Energy and Utilities; Construction - Industrial Facilities and Infrastructure; Construction - Residential & Commercial/Office',
       'Real Estate/Property ManagementBusiness Services - Other',
       'Construction - Industrial Facilities and Infrastructure; Manufacturing - Other; Marine Mfg & Services',
       'Atlanta, GA 30301',
       'Electronics, Components, and Semiconductor MfgComputer HardwareEngineering Services',
       'Electrical/Electronics EngineeringIndustrial/Manufacturing EngineeringGeneral/Other: Engineering',
       'Chemicals/Petro-Chemicals; Manufacturing - Other; Other/Not Classified',
       'Manufacturing - OtherPrinting and Publishing Construction - Residential & Commercial/Office',
       'Manufacturing - OtherArchitectural and Design ServicesConstruction - Residential & Commercial/Office',
       'Architectural and Design Services; Construction - Residential & Commercial/Office; Engineering Services',
       'All Personal and Household Services Business Services - Other',
       'Computer SoftwareEducationComputer/IT Services',
       'City Of Industry, CA 91744',
       'RetailAdvertising and PR ServicesManagement Consulting Services',
       'Computer/IT ServicesOther/Not Classified',
       'Performing and Fine Arts',
       'Advertising and PR ServicesOther/Not Classified', 'Redmond, WA',
       'RetailTelecommunications ServicesManagement Consulting Services',
       'Wholesale Trade/Import-ExportAdvertising and PR Services',
       'Transport and Storage - Materials Waste Management',
       'AllTelecommunications ServicesAutomotive Sales and Repair Services',
       'AllAutomotive Sales and Repair ServicesBusiness Services - Other',
       'Kentwood, MI 49508',
       'Hotels and LodgingEntertainment Venues and TheatersFood and Beverage Production',
       'Healthcare Services Business Services - Other',
       'Business Services - OtherOther/Not Classified',
       'Construction - Industrial Facilities and InfrastructureGovernment and MilitaryConstruction - Residential & Commercial/Office',
       'Real Estate/Property ManagementNonprofit Charitable Organizations',
       'Dayton, OH 45431', 'Energy and Utilities; Engineering Services',
       'Raleigh, NC 27607',
       'Manufacturing - OtherTransport and Storage - Materials Business Services - Other',
       'Southfield, MI 48075',
       'Staffing/Employment Agencies;Business Services - Other;Other/Not Classified',
       'Accounting and Auditing ServicesStaffing/Employment AgenciesFinancial Services',
       'Staffing/Employment AgenciesGovernment and Military',
       'Saint Paul, MN',
       'BankingNonprofit Charitable OrganizationsFinancial Services',
       'Education; Other/Not Classified', 'AllBusiness Services - Other',
       'Retail Advertising and PR Services Other/Not Classified',
       'Insurance; Financial Services',
       'Manufacturing - OtherLegal ServicesHealthcare Services',
       'West Milwaukee, WI',
       'Manufacturing - OtherPrinting and Publishing',
       'Aerospace and Defense; Travel, Transportation and Tourism',
       'Printing and Publishing Telecommunications Services',
       'EducationHealthcare Services', 'Seattle, WA', 'Northbrook, IL',
       'Healthcare ServicesStaffing/Employment Agencies', 'San Mateo, CA',
       'Hoboken, NJ 07030',
       'Sports and Physical RecreationRestaurant/Food ServicesFood and Beverage Production',
       'Palo Alto, CA', 'Wabash, IN 46992', 'Shavano Park, TX',
       'Manhattan, NY',
       'Healthcare ServicesNonprofit Charitable Organizations',
       'Aerospace and DefenseGovernment and MilitaryComputer/IT Services',
       'Lake Aluma, OK', 'Warren, IL 60064', 'Omaha, NE', 'Cleveland, OH',
       'Branchburg, NJ', 'Metals and MineralsManufacturing - Other',
       'Iselin, NJ', 'Healthcare Services Sports and Physical Recreation',
       'Santa Clara, CA',
       'Healthcare ServicesStaffing/Employment AgenciesComputer/IT Services',
       'Management Consulting ServicesComputer Software',
       'Lake Quivira, KS',
       'Healthcare Services Business Services - Other Other/Not Classified',
       'Healthcare ServicesNonprofit Charitable OrganizationsOther/Not Classified',
       'Travel, Transportation and TourismTransport and Storage - Materials Automotive Sales and Repair Services',
       'Automotive and Parts MfgTransport and Storage - Materials Automotive Sales and Repair Services',
       'Biotechnology/PharmaceuticalsMedical Devices and Supplies',
       'RetailManagement Consulting Services', 'Indianapolis, IN',
       'Marvin, NC 28277', 'Agriculture/Forestry/Fishing',
       'AllStaffing/Employment AgenciesBusiness Services - Other',
       'Middleton, WI 53562', 'Madison, WI 53719',
       'Travel, Transportation and TourismInsuranceAutomotive Sales and Repair Services',
       'San Antonio, TX 78205',
       'Telecommunications ServicesHealthcare Services',
       'Government and MilitaryOther/Not Classified',
       'RetailRental ServicesAutomotive Sales and Repair Services',
       'RetailComputer SoftwareBusiness Services - Other',
       'Automotive and Parts Mfg;Automotive Sales and Repair Services',
       'Wichita, KS', 'Falls Church, VA', 'Pasadena, TX 77502',
       'Geismar, LA 70734',
       'Advertising and PR ServicesSports and Physical RecreationOther/Not Classified',
       'Erlanger, KY 41018', 'Columbus, OH',
       'Retail Banking Business Services - Other',
       'InsuranceReal Estate/Property ManagementFinancial Services',
       'Montgomery, OH',
       'Manufacturing - OtherHealthcare ServicesMedical Devices and Supplies',
       'InsuranceHealthcare Services',
       'Biotechnology/Pharmaceuticals; Healthcare Services; Medical Devices and Supplies',
       'Biotechnology/Pharmaceuticals; Chemicals/Petro-Chemicals; Engineering Services',
       'Biotechnology/PharmaceuticalsEngineering ServicesMedical Devices and Supplies',
       'Chicago, IL 60606', 'Basking Ridge, NJ', 'Abbott Park, IL 60064',
       'Morrisville, NC 27709', 'RetailBusiness Services - Other',
       'Biotechnology/PharmaceuticalsHealthcare ServicesStaffing/Employment Agencies',
       'Hebron, IL 60034', 'Foster City, CA 94404',
       'Biotechnology/Pharmaceuticals; Consumer Packaged Goods Manufacturing; Food and Beverage Production',
       'Advertising and PR Services Entertainment Venues and Theaters Other/Not Classified',
       'Raynham, MA 02767', 'Milwaukee, WI',
       'Healthcare Services Staffing/Employment Agencies Computer/IT Services',
       'Construction - Industrial Facilities and Infrastructure; Construction - Residential & Commercial/Office',
       'Manufacturing - Other;Food and Beverage Production',
       'Cottage Grove, MN 55016', 'Mcminnville, OR 97128',
       'Consumer Packaged Goods Manufacturing; Manufacturing - Other; Food and Beverage Production',
       'Lake Forest, IL',
       'Management Consulting Services Business Services - Other Other/Not Classified',
       'Lancaster, WI',
       'Manufacturing - OtherInsuranceBusiness Services - Other',
       'Industrial/Manufacturing EngineeringMechanical EngineeringGeneral/Other: Engineering',
       'Sports and Physical Recreation', 'Aire-Flo Industries',
       'Full Time Employee', 'Manufacturing - OtherOther/Not Classified',
       'AllEnergy and UtilitiesBusiness Services - Other',
       'Columbus, OH 43085', 'Computer Software Computer/IT Services',
       'RetailRental ServicesRestaurant/Food Services',
       'Mifflin, OH 43085', 'RetailAutomotive Sales and Repair Services',
       'Columbus, OH 43215',
       'All;Advertising and PR Services;Business Services - Other',
       'AllRetailTransport and Storage - Materials',
       'Aerospace and Defense Legal Services',
       'Automotive and Parts Mfg Automotive Sales and Repair Services',
       'Simi Valley, CA 93065',
       'Real Estate/Property ManagementLegal ServicesConstruction - Residential & Commercial/Office',
       'US_EN_8_33768_43833905', 'Brooklyn, NY', 'Rental Services',
       'Management Consulting Services Legal Services',
       'Real Estate/Property Management Legal Services', 'Newark, DE',
       'Scottsdale, AZ 85260',
       'Travel, Transportation and TourismLegal Services',
       'Construction - Industrial Facilities and InfrastructureConstruction - Residential & Commercial/OfficeEngineering Services',
       'Electronics, Components, and Semiconductor MfgManufacturing - Other',
       'Hotels and Lodging Other/Not Classified',
       'Computer HardwareComputer Software',
       'Retail; Advertising and PR Services; Business Services - Other',
       'All; Construction - Residential & Commercial/Office; Engineering Services',
       'Construction - Industrial Facilities and Infrastructure; Engineering Services',
       'Engineering ServicesMedical Devices and Supplies',
       'Real Estate/Property ManagementConstruction - Residential & Commercial/Office',
       'Computer HardwareComputer SoftwareEducation',
       'Energy and Utilities Education',
       'Construction - Industrial Facilities and InfrastructureAerospace and Defense',
       'Education; Business Services - Other',
       'Personal and Household Services; Construction - Residential & Commercial/Office; Other/Not Classified',
       'Restaurant/Food ServicesFood and Beverage Production',
       'Legal ServicesOther/Not Classified', 'Foster City, CA',
       'Computer SoftwareBusiness Services - Other', 'Omaha, NE 68124',
       'Telecommunications ServicesComputer Software', 'Springfield, VA',
       'Accounting and Auditing ServicesBusiness Services - OtherFinancial Services',
       'Travel, Transportation and Tourism Healthcare Services Other/Not Classified',
       'Real Estate/Property Management;Business Services - Other;Other/Not Classified',
       'Biotechnology/PharmaceuticalsAccounting and Auditing ServicesFinancial Services',
       'New Braunfels, TX', 'Round Rock, TX', 'Elk Grove Village, IL',
       'Houston, TX 77055', 'Chicago Heights, IL 60411',
       '\xa0 • \xa0 Healthcare Services',
       'AllReal Estate/Property ManagementConstruction - Residential & Commercial/Office',
       'Minnetonka, MN',
       'Healthcare Services Hotels and Lodging Restaurant/Food Services',
       'Falls Church, VA 22042',
       'Management Consulting ServicesBusiness Services - OtherOther/Not Classified',
       'Tifco Industries, Inc.',
       'Automotive and Parts Mfg; Manufacturing - Other; Retail',
       'Retail; Advertising and PR Services; Restaurant/Food Services',
       'Clothing and Textile Manufacturing',
       'Telecommunications ServicesAdvertising and PR ServicesBusiness Services - Other',
       'Construction - Industrial Facilities and InfrastructureManufacturing - Other',
       'RetailOther/Not Classified',
       'Printing and Publishing Architectural and Design ServicesConstruction - Residential & Commercial/Office',
       'BankingReal Estate/Property ManagementRental Services',
       'Restaurant/Food ServicesOther/Not Classified',
       'AllInsuranceGovernment and Military', 'AllRetailInsurance',
       'AllConstruction - Industrial Facilities and InfrastructureReal Estate/Property Management',
       'Real Estate/Property ManagementRental ServicesAccounting and Auditing Services',
       'AllInsuranceReal Estate/Property Management',
       'RetailTelecommunications ServicesComputer/IT Services',
       'Real Estate/Property ManagementRental ServicesConstruction - Residential & Commercial/Office',
       'Staffing/Employment AgenciesOther/Not Classified',
       'Telecommunications Services Computer Software Computer/IT Services',
       'Biotechnology/PharmaceuticalsComputer/IT Services',
       'Barrow Industries',
       'BankingBusiness Services - OtherFinancial Services',
       'InsuranceOther/Not Classified',
       'Internet Services Computer Software Computer/IT Services',
       'RetailBankingFinancial Services',
       'RetailComputer HardwareComputer/IT Services',
       'RetailRestaurant/Food ServicesFood and Beverage Production',
       'Advertising and PR ServicesManagement Consulting ServicesRestaurant/Food Services',

In [21]:
df['organization'].isnull().sum()

6867

Category : Other/Not Classified

In [22]:
other_index = df[df['organization'].str.match(r'(?i)Other\/Not Classified', na=False)].index
other_index

Int64Index([   42,    69,   133,   154,   208,   224,   230,   251,   273,
              295,
            ...
            21734, 21765, 21773, 21849, 21872, 21902, 21918, 21920, 21978,
            21984],
           dtype='int64', length=1048)

In [23]:
df.loc[other_index, 'organization'] = 'Other'

category City_names

In [24]:
ind = list(df[df.organization.str.contains(r'[\w\/ ]*\w*, \w{2}[\d]*$|[\w\/ ]*\w*, \w{2}[\d]*[^\w]')==True]['organization'].index)

In [25]:
ind

[29,
 36,
 38,
 73,
 152,
 249,
 425,
 624,
 652,
 674,
 734,
 766,
 776,
 817,
 924,
 1012,
 1019,
 1045,
 1049,
 1063,
 1070,
 1095,
 1106,
 1129,
 1139,
 1146,
 1175,
 1227,
 1239,
 1246,
 1251,
 1309,
 1327,
 1329,
 1332,
 1340,
 1354,
 1381,
 1439,
 1486,
 1512,
 1573,
 1590,
 1594,
 1622,
 1650,
 1660,
 1681,
 1690,
 1747,
 1762,
 1828,
 1870,
 1889,
 2052,
 2077,
 2098,
 2155,
 2233,
 2297,
 2376,
 2426,
 2563,
 2604,
 2631,
 2695,
 2750,
 2766,
 2783,
 2795,
 2807,
 3000,
 3047,
 3065,
 3077,
 3181,
 3187,
 3188,
 3229,
 3261,
 3281,
 3433,
 3434,
 3456,
 3660,
 3886,
 4036,
 4040,
 4087,
 4088,
 4115,
 4215,
 4217,
 4235,
 4241,
 4341,
 4354,
 4377,
 4421,
 4460,
 4506,
 4510,
 4516,
 4533,
 4534,
 4582,
 4588,
 4594,
 4647,
 4673,
 4682,
 4725,
 4755,
 5015,
 5065,
 5165,
 5395,
 5480,
 5706,
 5748,
 5854,
 6014,
 6781,
 6812,
 6845,
 6898,
 6899,
 6900,
 6910,
 6911,
 6929,
 7085,
 8484,
 8548,
 8623,
 8712,
 8767,
 8830,
 8896,
 8935,
 9511,
 10079,
 10137,
 10203,
 10217,
 10410,
 10422,
 10429,
 10511,
 10514,
 10531,
 10535,
 10549,
 10552,
 10553,
 10560,
 10599,
 10601,
 10604,
 10632,
 10640,
 10648,
 10673,
 10688,
 10728,
 10735,
 10741,
 10743,
 10767,
 10776,
 10795,
 11087,
 11163,
 11370,
 11416,
 11429,
 11445,
 11728,
 11757,
 11762,
 11764,
 11774,
 11775,
 11782,
 11793,
 11808,
 11853,
 11862,
 11865,
 11866,
 11871,
 11896,
 11939,
 11975,
 12010,
 12051,
 12062,
 12063,
 12103,
 12105,
 12156,
 12183,
 12248,
 12488,
 12600,
 12819,
 12854,
 12863,
 12952,
 13262,
 13266,
 13349,
 13387,
 13430,
 13480,
 13536,
 13605,
 13671,
 13673,
 13742,
 13833,
 13857,
 13892,
 13909,
 13920,
 13934,
 13982,
 14104,
 14146,
 14164,
 14313,
 14336,
 14405,
 14563,
 14577,
 14748,
 15133,
 15207,
 15462,
 15750,
 15888,
 15894,
 16256,
 16282,
 16383,
 16514,
 16707,
 16728,
 16754,
 16794,
 16805,
 16830,
 16845,
 16855,
 16856,
 16857,
 16860,
 16884,
 16893,
 16897,
 17190,
 17237,
 17533,
 17672,
 17777,
 17827,
 17836,
 17863,
 17979,
 18049,
 18072,
 18231,
 18472,
 18578,
 20154,
 20259,
 20308,
 20330,
 20345,
 20416,
 20434,
 20467,
 20563,
 20615,
 20694,
 20714,
 20729,
 20732,
 20745,
 20892,
 21060,
 21136,
 21159,
 21166,
 21217,
 21401,
 21456,
 21507,
 21629,
 21829]

In [26]:
df.loc[ind, 'organization'] = 'Other'

In [27]:
df.organization.sample(10)

6876                                  Computer/IT Services
19447             Healthcare Services Other/Not Classified
20395                                  Healthcare Services
1728                                   Healthcare Services
16454    Travel, Transportation and TourismTransport an...
15743                                  Healthcare Services
17433                                                  All
5452                          Medical Devices and Supplies
16581                                               Retail
8291                    Nonprofit Charitable Organizations
Name: organization, dtype: object

# sector

In [28]:
df.sector.value_counts()

Experienced (Non-Manager)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 4594
Medical/Health                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1254
Entry Level                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1172
Sales/Retail/Business Development                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          938
Manager (Manager/Supervisor of Staff)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      900
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
Strong work ethic with a drive to exceed expectations Excellent people person: Work well with others in a fast paced, commission sales environment Open to learning and growing independently and from feedback Work well under high pressure with a positive attitude and contagious enthusiasm Detail oriented and highly organized Sense of Design: Able to distinguish and put together various styles, colors, and textures Associates Degree or higher, preferred not required Basic mathematical and computer skills Ability to read, write, and speak in English (a secondary language is a plus) Previous experience in retail or a related field preferred (home improvement, furniture, electronics, customer service, home furnishings, hospitality, flooring, sales, retail, etc.)   Benefits Great Pay and Exceptional Training Individual Career Growth Opportunities Holiday and Vacation Pay Medical, Dental, and Vision Insurance HSA Employer Contributions 401(k) Plan with employer matching Company Paid Basic Life Insurance and Accidental Death & Dismemberment Company Paid Long Term Disability   The Tile Shop is an Equal Opportunity Employer.     *CB                         1
General/Other: Sales/Business DevelopmentRetail/Counter Sales and CashierStore/Branch Management                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Systems Analysis - ITWeb/UI/UX Design                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Optical                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Demonstrate the highest level of leadership and ethical standards, with a drive to uphold our “Culture of Can Do” Possess a passion for the beauty industry with the desire to constantly learn and then teach our store personnel and customers about our products Display strong organizational and planning skills with the ability to multi-task, problem-solve and act independently Self-starter with a drive to continuously learn and develop in career Must be 18 years of age or older Must have 3+ year(s) of retail sales/customer service experience Must have 1+ year(s) of managerial experience Licensed cosmetologist desirable but not required Work where we treat you and our customers as a priority-- Employee discount Free samples of many of our new products Opportunities to grow your career within the company On-going product knowledge programs and customer experience coaching Work in an  environment focused on and surrounded by beauty   Qualified applicants will receive consideration for employment without regard to their race, color, age, religion, nation origin, sex, sexual orientation, disability or other categories protected by law.   MONPOST         1
Name: sector, Length: 163, dtype: int64

In [29]:
len(df.sector.unique())

164

In [30]:
df.sector.isnull().sum()

5194

In [31]:
ind = list(df[df.sector.apply(lambda x:len(str(x))>100)]['sector'].index)

In [32]:
df.loc[ind, 'sector'] = 'Other'

# Final Cleaned Data

In [33]:
df.head()

,job_description,job_title,organization,page_url,salary,sector,job_type_1,job_type_2,location_extract
0,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,FullTime,NaN,"madison, wi"
1,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,FullTime,Employee,"madison, wi"
2,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,FullTime,Employee,"raynham, ma"
3,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),FullTime,Temporary/Contract/Project,"dixon, ca"
4,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,FullTime,Temporary/Contract/Project,"camphill, pa"